/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    background: #ffffff;
    color: #3d3d3d;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    display: flex;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 150 25%;
}

/* song title */

h1 {
	font-size: 140%;
	font-weight: 400;
}

/* band-album */

h2 {
	font-size: 90%;
	font-weight: 150;
	margin-bottom: 20px;
}

span {
	font-style: italic;
}